<div class="container">
    <h1><%= title %></h1>
    <hr>
    <div style="display: inline-block; width:300px; margin-top:20px">
    <h2 > Amin Hossein Tehrani</h2>
    <h5>Web Application Development</h5>
    <h5>C# Programming</h5>
    <h5>Java Programming</h5>
    <h5>Android Programming</h5>
    <h5>Shell Scripting</h5>

    <h2> <a href="./content/files/Amin_TehraniResume.pdf">My Resume</a></h2>
</div>



    <div style="display: inline-block; width:430px ;">
    <img style= "width:400px; height:800px" src="./content/images/me.png" alt="me">
    
    </div>


    <div  style=" display: inline-block; width:300px;"   >
        <h2 style= "margin-top:10px; text-align: center; "> About Amin</h2>
       <p> I am an aspiring computer engineer currently studying at Centennial College. My interests include acquiring knowledge, basketball and technology. I have an interest in coding and I hope to start a career in the computer engeineering field.  </p>
    </div>


   
   
    </div>