<div class="container">

    <div style="display: inline-block; width:300px; margin-top:20px">
    <h2 > Amin Hossein Tehrani</h2>
    <h5>Web Application Development</h5>
    <h5>C# Programming</h5>
    <h5>Java Programming</h5>
    <h5>Shell Scripting</h5>
    <h2> <a href="./content/files/Amin_TehraniResume.pdf">My Resume</a></h2>
</div>



    <div style="display: inline-block; width:700px ;">
    <img style= "width:700px; height:500px" src="./content/images/me.jpg" alt="me">
    
    </div>


    <div style=" width:700px; margin: auto; margin-bottom:50px">
        <h2 style= "margin-top:10px; text-align: center; "> About Amin</h2>
       <p> Amin is an aspiring computer engineering currently studying at Centennial College. His interests include persuing knowledge, basketball and technology. He has an interest in coding and hopes to get a career in the engeineering field.  </p>
    </div>


   
   
    </div>