<div class="container">
<h1><%= title %></h1>

<p> Welcome to my portfolio&#33;</p>
<p>Here you will see various projects that I produced during my time at Centennial College. 

    <u><h2>What I hope to Accomplish</h2></u>
    <p>I am hoping that the projects that I am demonstrating on my portfolio are of interest to you.  </p>

    
</div>