 <!-- Student ID: 301225212 Amin Hossein Tehrani-->

<div class="container">
<h1><%= title %></h1>
<hr>
<p> Welcome to my site&#33;</p>
<p>I am happy to serve you. Please look at the <a href="/services">services</a> I provide and <a href="/contact">contact me</a> for more info</p>

    <u><h2>My promise to you</h2></u>
    <p>I will provide excellent service for you. Any project that you need completed, I will provide top quality and service.  </p>

    
</div>