<div class="container">
<h1><%= title %></h1>
<hr>
<p> Welcome to my site&#33;</p>
<p>I am happy to serve you. Please look at the services I provide and contact me for more info</p>

    <u><h2>Mission</h2></u>
    <p>I will provide unrivaled service for to you. Any project that you need accomplished I can do with top quality and service.  </p>

    
</div>