 <!-- Student ID: 301225212 Amin Hossein Tehrani-->

<div class="container">
    <h1><%= title %></h1>
    
<hr>

<div style="margin:auto; width: 50%;">
    <b style="font-size: 50px;">Project 1</b>
<img  src="./content/images/imageofproject1.png" alt="project1">
<br>
<br>
<br>
<p style="display: inline-block;">For a class assignment, I was tasked with creating a game that had a bug jumping around the screen, with the user trying to catch the bug by clicking on it. I had to code the bug jumping around the screen and the capure of the click from the user on the bug. As well, I coded the score accumulating for the user, a reset score function and a reset speed function.</p>
<b style="font-size: 50px;">Project 2</b>
<img  src="./content/images/imageofproject2.png" alt="project2">
<br>
<br>
<br>
<p style="display: inline-block;">For a class assignment, I was tasked to create a webpage in which we collected user information. I did input verification to verify the postal code, age password and confirmed password matched the requested requirements. </p>
<b style="font-size: 50px;">Project 3</b>
    <img  src="./content/images/imageofproject3.png" alt="project3">
    <br>
    <br>
    <br>
    <p style="display: inline-block;">For a class assignment, I was tasked to create a web page that displayed a photo gallery. I created a web page in which various image were automatically displayed. If the user wanted to go back to the previous image, they could press the previous button with the functionality for the next button. I also implemented a auto scroll button to allow the web page to automatically scroll through images.
        <br>
        <br>
        <br>
</div>
    
    </div>