<div class="container">
    <h1><%= title %></h1>
    
<hr>


<table style="width:100%">

    <tr>
      <td><img  src="./content/images/bashlogo.png" alt="bashlogo"></td>
      <td></td>
      <td><img  src="./content/images/csharplogo.png" alt="csharplogo"></td>
    </tr>
    <tr>
        <td></td>
        <td><img  src="./content/images/androidlogo.png" alt="javalogo"></td>
        <td></td>
      </tr>
    <tr>
      <td><img  src="./content/images/htmllogo.png" alt="htmllogo"></td>
      <td></td>
      <td><img  src="./content/images/javalogo.png" alt="javalogo"></td>
    </tr>
  </table>
  
    </div>